doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      span
        a(title="主页",href="/") 主页
      span
        a(title="登陆",href="/login") 登陆
      span
        a(title="注册",href="/reg") 注册

    block content
